.page-node-type-actor {
  .main-content {
    .main-content__container {
      main {
        .region--content-above {
          #block-cartelera-page-title {
            h1.page-title {
              color: #fff;
            }
          }
        }

        #block-cartelera-content {
          article.node--type-actor {
            .field--name-field-picture {
              display: grid;
              justify-items: center;
              align-items: center;

              img {
                width: 80%;
                max-width: 425px;
                height: auto;
              }
            }
            .field--name-field-biography{
              color: #FFF;
            }
            .white-title{
              color: #fff;
            }
          }
        }
      }
    }
  }
}
